<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet'  href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="fixed-header">Group project</p></div>
    <div class="content">
    {{{body}}}
    </div>

     <div class="fixed-footer">web programming</div>
  </body>
</html>